<div class="row-fluid">
	<h1>Honored saved</h1>
	<div class="mystyle span8 offset2">
		<ul>
			<li>Name         : <%= @honored.first_name %> <%= @honored.last_name %></li>
			<li>Date of Birth: <%= @honored.date_of_birth %></li>
			<li>Date of Death: <%= @honored.date_of_death %></li>
			<li>City         : <%= @honored.city %></li>
			<li>State        : <%= @honored.state %></li>
			<li>Description  : <%= @honored.description %></li>
			<li>Current User Id : <%= current_user.id %></li>
			<li>Current User admin : <%= current_user.administrator %></li>
		</ul>
		<%= link_to "Edit Information", edit_honored_path, id: object_id, class: 'btn btn-warning' %>
		<%= link_to "Add Organizations for Donations", new_honored_organization_path,
			class: 'btn btn-success' %>
	</div>
</div>
