<div class="row-fluid">
	<h1>Honored saved</h1>
	<div class="mystyle span3">
		<ul class="unstyled">
			<li><%= link_to "Edit Information", edit_honored_path(id: @honored.id), 
				class: 'btn btn-warning' %></li>
			<li><%= link_to "View added organizations", honored_organizations_path(id: @honored.id),
				class: 'btn btn-info' %></li>
			<li><%= link_to "Add Organizations for Donations", 
				new_honored_organization_path(id: @honored.id),
				class: 'btn btn-success' %></li>
		</ul>
	</div>
	<div class="mystyle span7">
		<ul>
			<li>Name         : <%= @honored.first_name %> <%= @honored.last_name %></li>
			<li>Date of Birth: <%= @honored.date_of_birth %></li>
			<li>Date of Death: <%= @honored.date_of_death %></li>
			<li>City         : <%= @honored.city %></li>
			<li>State        : <%= @honored.state %></li>
			<li>Description  : <%= @honored.description %></li>
			<li><%= image_tag @honored.avatar.url(:thumb) %></li>
		</ul>
	</div>
</div>
